{% extends 'base_template.html' %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/broker/{{ host }}/{{ port }}/topic/save" method="POST">
        <div class="form-group">
            <label for="topic_title">Topic</label>
            <input type="text" class="form-control" id="topic_title" name="topic_title" aria-describedby="topic_title" placeholder="Topic Title">
            <small id="emailHelp" class="form-text text-muted">Name of the topic</small>
        </div>
        <div class="form-group">
            <label for="topic_partition_number">Partition Number</label>
            <select name="topic_partition_number" id="topic_partition_number" class="form-control" aria-describedby="topic_partition_number">
                {% for i in partition_range %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="topic_replication_factor">Replication Factor</label>
            <select name="topic_replication_factor" id="topic_replication_factor" class="form-control" aria-describedby="topic_replication_factor">
                {% for j in replication_range %}
                    <option value="{{ j }}">{{ j }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}