{% extends 'base_template.html' %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Topic</th>
                <th scope="col"># of Partitions</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>
                    {{ topic.topic }}
                </td>
                <td>
                    {{ topic.num_partitions }}
                </td>
                <td>
                    <a href="">Add Partition</a>
                </td>
            </tr>    
        {% endfor %}
        </tbody>
    </table>
{% endblock %}